policy_module(kopano, 1.2.0)

########################################
#
# Declarations
#

## <desc>
##  <p>
## Allow kopano domains to setrlimit/sys_resource.
##  </p>
## </desc>
gen_tunable(kopano_setrlimit, false)

attribute kopano_domain;

kopano_domain_template(deliver)

type kopano_deliver_tmp_t;
files_tmp_file(kopano_deliver_tmp_t)

type kopano_etc_t;
files_config_file(kopano_etc_t)

kopano_domain_template(gateway)
kopano_domain_template(ical)
kopano_domain_template(indexer)

type kopano_indexer_tmp_t;
files_tmp_file(kopano_indexer_tmp_t)

kopano_domain_template(monitor)
kopano_domain_template(server)

type kopano_server_tmp_t;
files_tmp_file(kopano_server_tmp_t)

type kopano_share_t;
files_type(kopano_share_t)

kopano_domain_template(spooler)

type kopano_var_lib_t;
files_tmp_file(kopano_var_lib_t)

########################################
#
# kopano-deliver local policy
#

manage_dirs_pattern(kopano_deliver_t, kopano_deliver_tmp_t, kopano_deliver_tmp_t)
manage_files_pattern(kopano_deliver_t, kopano_deliver_tmp_t, kopano_deliver_tmp_t)
files_tmp_filetrans(kopano_deliver_t, kopano_deliver_tmp_t, { file dir })

auth_use_nsswitch(kopano_deliver_t)

corenet_tcp_bind_lmtp_port(kopano_deliver_t)

########################################
#
# kopano_gateway local policy
#
corenet_all_recvfrom_netlabel(kopano_gateway_t)
corenet_tcp_sendrecv_generic_if(kopano_gateway_t)
corenet_tcp_sendrecv_generic_node(kopano_gateway_t)
corenet_tcp_sendrecv_all_ports(kopano_gateway_t)
corenet_tcp_bind_generic_node(kopano_gateway_t)
corenet_tcp_bind_pop_port(kopano_gateway_t)

######################################
#
# kopano-indexer local policy
#


manage_dirs_pattern(kopano_indexer_t, kopano_indexer_tmp_t, kopano_indexer_tmp_t)
manage_files_pattern(kopano_indexer_t, kopano_indexer_tmp_t, kopano_indexer_tmp_t)
files_tmp_filetrans(kopano_indexer_t, kopano_indexer_tmp_t, { file dir })

manage_dirs_pattern(kopano_indexer_t, kopano_var_lib_t, kopano_var_lib_t)
manage_files_pattern(kopano_indexer_t, kopano_var_lib_t, kopano_var_lib_t)
manage_lnk_files_pattern(kopano_indexer_t, kopano_var_lib_t, kopano_var_lib_t)

auth_use_nsswitch(kopano_indexer_t)

#######################################
#
# kopano-ical local policy
#


corenet_all_recvfrom_netlabel(kopano_ical_t)
corenet_tcp_sendrecv_generic_if(kopano_ical_t)
corenet_tcp_sendrecv_generic_node(kopano_ical_t)
corenet_tcp_sendrecv_all_ports(kopano_ical_t)
corenet_tcp_bind_generic_node(kopano_ical_t)
corenet_tcp_bind_http_cache_port(kopano_ical_t)

auth_use_nsswitch(kopano_ical_t)

######################################
#
# kopano-monitor local policy
#


auth_use_nsswitch(kopano_monitor_t)

########################################
#
# kopano_server local policy
#

allow kopano_server_t self:capability net_bind_service;

manage_dirs_pattern(kopano_server_t, kopano_server_tmp_t, kopano_server_tmp_t)
manage_files_pattern(kopano_server_t, kopano_server_tmp_t, kopano_server_tmp_t)
files_tmp_filetrans(kopano_server_t, kopano_server_tmp_t, { file dir })

manage_dirs_pattern(kopano_server_t, kopano_var_lib_t, kopano_var_lib_t)
manage_files_pattern(kopano_server_t, kopano_var_lib_t, kopano_var_lib_t)
manage_lnk_files_pattern(kopano_server_t, kopano_var_lib_t, kopano_var_lib_t)
files_var_lib_filetrans(kopano_server_t, kopano_var_lib_t, { file dir lnk_file })

stream_connect_pattern(kopano_server_t, kopano_indexer_var_run_t, kopano_indexer_var_run_t, kopano_indexer_t)

corenet_all_recvfrom_netlabel(kopano_server_t)
corenet_tcp_sendrecv_generic_if(kopano_server_t)
corenet_tcp_sendrecv_generic_node(kopano_server_t)
corenet_tcp_sendrecv_all_ports(kopano_server_t)
corenet_tcp_bind_generic_node(kopano_server_t)
corenet_tcp_bind_kopano_port(kopano_server_t)


auth_use_nsswitch(kopano_server_t)

logging_send_syslog_msg(kopano_server_t)
logging_send_audit_msgs(kopano_server_t)

sysnet_dns_name_resolve(kopano_server_t)

optional_policy(`
	kerberos_use(kopano_server_t)
')

optional_policy(`
	mysql_stream_connect(kopano_server_t)
')

########################################
#
# kopano_spooler local policy
#

can_exec(kopano_spooler_t, kopano_spooler_exec_t)

corenet_all_recvfrom_netlabel(kopano_spooler_t)
corenet_tcp_sendrecv_generic_if(kopano_spooler_t)
corenet_tcp_sendrecv_generic_node(kopano_spooler_t)
corenet_tcp_sendrecv_all_ports(kopano_spooler_t)
corenet_tcp_connect_smtp_port(kopano_spooler_t)

auth_use_nsswitch(kopano_spooler_t)

########################################
#
# kopano_gateway local policy
#
corenet_tcp_bind_pop_port(kopano_gateway_t)

#######################################
#
# kopano-ical local policy
#

corenet_tcp_bind_http_cache_port(kopano_ical_t)

######################################
#
# kopano-monitor local policy
#


########################################
#
# kopano domains local policy
#

# bad permission on /etc/kopano
allow kopano_domain self:capability { kill dac_read_search  chown setgid setuid };
allow kopano_domain self:process { signal_perms };
allow kopano_domain self:fifo_file rw_fifo_file_perms;
allow kopano_domain self:tcp_socket create_stream_socket_perms;
allow kopano_domain self:unix_stream_socket create_stream_socket_perms;

tunable_policy(`kopano_setrlimit',`
    allow kopano_domain self:capability sys_resource;
    allow kopano_domain self:process setrlimit;
')

stream_connect_pattern(kopano_domain, kopano_server_var_run_t, kopano_server_var_run_t, kopano_server_t)

read_files_pattern(kopano_domain, kopano_etc_t, kopano_etc_t)

dev_read_rand(kopano_domain)
dev_read_urand(kopano_domain)

dev_read_sysfs(kopano_domain)
